

.nav-item{
  color: black!important; 
}

.nav{
  margin-left: 30%;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

.logo
{
  width:  3rem;
  height: 2rem;
}

.getquotation{
  font-size: 0.9rem;
  font-family: 'Quicksand', sans-serif;
  padding: 1% 2%;
  background-color: orange;
  border:  1px white;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.defi{
  font-size: 1.5rem !important;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 45% !important;
  color: white;
  position: relative;
}

.defi-text{
  color: white;
  text-align: center;
  position: relative;
}

/* .head{
} */

.getstarted{
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding: 2% 4%;
  background-color: orange;
  border:  1px white;
  font-weight: 600;
  color: white;
  border-radius : 10px;
  box-shadow: 0 5px 15px 1px grey;
  margin-top: 8%;
  margin-left: 35%;
  position: relative;
}
.row1{
  height: 39.5rem;
}
.illustration1{
  max-width: 100%;
  height: auto;
  width: 100%;
  
}

a#scroll-btn{
  position: absolute;
  height: 8em;
  width: 4.25em;
  border: 0.5em solid #90EE90;
  margin: auto;
  left: 0;
  right: 0;
  top: 40em;
  border-radius: 3em;
}

a#scroll-btn::before{
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #90EE90;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

@keyframes move-down{
  80%{
    opacity: 0.5;
  }
  100%{
    transform: translateY(5em);
    opacity: 0;
  }
}

.head{
  background-image: url('images/5040007.jpg');
}

.heading1{
  margin-top: 10% !important;
  color: orange;
  
}

.heading_text{
  /* margin-top: -20%; */
  text-align: left;
  color: rgb(2, 18, 31);
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.6;
}

.heading2{
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.categories{
  margin-top: 5% !important;
  margin-left: 6% !important;
}

.designing{
  height: 12rem;
  width: 17rem;
  border-radius: 3% 3% 0 0;
  margin-left: 0 !important;
}

.card-title{
  font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-weight: bold ;
}

.cardimg{
  height: 80px;
  max-width: 80px;
  /* margin: auto; */
  /* padding-top: 7%; */
  margin-left: 35% !important;
}

.color{
  color: white;
}

.card-text1{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: grey;
}

.card-text2{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.categories2{
  margin-top: 10% !important;
  border-radius: 3%;
  margin-left: 6% !important;
}

.categories3{
  border-radius: 3%;
  margin-top: 15% !important;
  margin-left: 6% !important;
}

.services{
  padding-top: 10% !important;
  margin-left: 5%;
  background-color: aliceblue;
  border-radius: 150px;
  height: 35rem;
}

.row2{
  margin-top: 4% !important;
}

.row3{
  padding-top: 5% !important;
}

.card{
  box-shadow: 5px 5px 5px 5px rgb(207, 206, 206);
}

.categories4{
  border: 2px solid gainsboro;
  border-radius: 3%;
  height: 24rem;
  margin-top: 25% !important;
}

.untitled{
  background-image: url('images/Humaaans\ -\ 1.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25rem;
}

.text1{
  margin-top: 20%;
  font-weight: bold;
}

.learnmore{
  border-radius: 10%;
  background-color: #FA7070;
  border:  1px white;
  padding: 2% 4%;
}

.text2{
  margin-top: 25%;
  font-weight: bold;
}
.untitled1{
  background-image: url('images/Humaaans.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 30rem;
}

.frame3{
  height: auto;
  max-width: 100%;
}

.heading3{
  text-align: center;
  font-weight: bold;
}

.text3{
  text-align: center;
  margin-top: 2%;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: grey;
}

.customer{
  font-weight: 700;
  color: orange;
}

.cust{
  font-weight: 700;
}

.cust1{
  padding-top: 8%;
  color: grey;
}

.review{
  margin-top: 5%;
}

.customer_name{
  font-weight: 600;
}

.country_name{
  font-weight: 600;
}

.review_text{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: grey;
  text-align: center;
}

.review2{
  border: 3px solid grey!important;
  padding: 2px 5px;
  border-radius: 5%;
  width: 250px !important;
  margin-left: 8%;
  padding: 2% 4%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.reviewmid{
  border: 3px solid grey!important;
  padding: 2px 5px;
  border-radius: 5%;
  width: 250px !important;
  margin-left: 8%;
  box-shadow: 0 5px 15px 1px  grey;
  padding: 2% 4%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.downloadbtn1{
  padding-left: 23% !important;
  padding-right: 5%;
}

#li{
  list-style-type: none;
  font-size: 0.8rem;
  padding-bottom: 10%;
  text-align: left;
  color: grey;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

.footerh5{
  color: black;
  padding-left: 15%;
}

#footer{
  margin-top: 7%;
  background-color: white;
  padding-top: 5%;
}

.icons{
  height: 2rem;
  width: 2rem;;
}
.icons1{
  height: 2rem;
  width: 2rem;;
  margin-left: 4%;
}

.leftarrow{
  width: 5%;
  height: 50px;
}

.arrowimg{
  height: 5%;
  width: 2%;
  border:  1px solid white!important;
  border-radius: 100%;
  margin-top: 10%;
}

.comp{
  margin-top: 7%;
}

.comp-icon{
  height: 75px;
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}